@keyframes logoGrow {
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1; }
}

.logo {
    width: 25px;
    opacity: 0;
}

.logo {
    animation: logoGrow 5s forwards;
}

body {
    font-family: Poppins, serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_item a, .nav_item a:hover, .nav_itema:focus {
    color: blue;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

* {
    box-sizing: border-box;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;
    width: 450px;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (min-width:900px){

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card {
    flex: 0 0 275px;
}

header:not(main header) {
    position: sticky;
    top: 0;
}

}

@media all and (prefers-reduced-motion) {

.logo {
    animation: none;
}

.logo {
    width: 475px;
    opacity: 1;
}

}

@media print {

body {
    font-family: Arial, Helvetica;
    background-image: none;
}

nav {
    width: 100%;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.card {
    border: 2px solid #45ADDD;
    flex: 0 1 325px;
}

#gallery, .gallery {
    display: none;
}

.card ul li:nth-child(2)::after {
    content: '👍' ;
}

}